*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 900px;
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(42, 94, 232);
}

.nav__inner{
    width: 80%;
    margin: 0 auto;
    height: 50px;
    max-width: 1100px;
}

.nav__logo{
    width: 15%;
    height: 50px;
    float: left;
    position: relative;
}

.nav__logo img{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.nav__inner .nav__menu{
    width: 70%;
    float:left
}

.nav__inner .nav__menu ul{
    list-style: none;
    margin: 0 auto;
}

.nav__inner .nav__menu ul li{
    width: calc(100% / 5);
    font-size: 0.8rem;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
}

.nav__inner .nav__menu ul li a{
    color: white;
    text-decoration: none;
}

.nav__inner .nav__button{
    float: left;
    width: 15%;
    position: relative;
    line-height: 50px;
    text-align: center;
}

.button{
    background-color: white;
    border-radius: 25px;
    color: black;
    text-decoration: none;
}

.nav__inner .nav__button .button{
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
}

.hero{
    width: 100%;
    height: 60vh;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.inner{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.centered-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

.centered-content h1{
    font-size: 30pt;
}
.hero .centered-content h1{
    color: white;
    margin-bottom: 30px;
}

.hero .centered-content p{
    color: white;
    margin-bottom: 30px;
    line-height: 1.5rem;
    font-size: 1rem;

}
.hero .button{
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    font-size: 1rem;

}
.hero .button:last-child{
    padding: 10px 20px 10px 20px;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-right: 0px;
}

.fa-long-arrow-alt-down{
    margin-right: 7px;
}


.content{
    width: 100%;
    height: auto;
    position: relative;
}

.content .inner{
    width: 80%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 150px;
    max-width: 1000px;
}

.content .inner .img{
    float: left;
    width: 50%;
}

.content .inner .img img{
    width: 100%;
}
.content .inner .text{
    float: left;
    width: calc(50% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
}

.content .inner h2{
    font-size: 25pt;
    margin-bottom: 15px;
}

.content .inner  p{
    line-height: 1.5rem;
    font-size: 1rem;
}

.content .divider{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.divider .grey{
    color: rgb(245, 245, 245);
}

.divider .white{
    color: white;
}

.content:nth-child(odd){
    background-color: rgb(245, 245, 245);
}

.cta-section{
    height: auto;
    position: relative;
}

.cta-section .inner{
    width: 70%;
    position: relative;
    height: 100vh;
}

.cta-section img{
    width: 100%;
    margin-bottom: 40px;
}

.stars-bg{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    line-height: 60px;
    background-position-x: center;
    background-size: 55%;
    font-size: 1.1rem;
}

.cta-section .button{
    background-color: rgb(113, 139, 209);
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 1rem;
}

footer{
    height: auto;
    background-color: rgb(32,35,37);
}

footer .inner{
    width: 70%;
    padding-top: 60px;
    padding-bottom: 0px;
}

footer ul{
    list-style: none;
    margin-top: 10px;

}

footer li{
    margin-bottom: 10px;
    font-size: 0.8rem;
}

footer .col{
    float: left;
    width: calc(70% / 4);
}

footer .large{
    float: left;
    width: 30%;
    color: rgb(236, 236, 236);
}

footer h3{
    color:rgb(113, 139, 209);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

footer h4{
    color: rgb(113, 139, 209);
    font-size: 0.8rem;
}

footer li a{
    color: rgb(236, 236, 236);
    text-decoration: none;
}

.lang-selector{
    line-height: 10px;
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.flag{
    height: 10px;
}

.social-icons i{
    margin-right: 10px;
    font-size: 0.8rem;
}

footer .bottom{
    height: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    border-top: 1px solid rgb(113, 139, 209);
}

footer .logo{
    float: left;
}

footer .logo img{
    height: 20px;
    vertical-align: middle;
}

footer .footer-button{
    float: right;
}

footer .button{
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
    background-color: rgb(113, 139, 209);
    color: white;
}

.clearfix::after{
    clear: both;
    display: table;
    content: "";
}